* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}

.clock {
    width: 350px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(./img/clock.png);
    background-size: cover;
    border-radius: 50%;
    border: 20px solid #091921;
    box-shadow: 0 -15px  15px rgba(255, 255, 255, 0.05),
    inset  0 -15px  15px rgba(255, 255, 255, 0.05),
    0 15px  15px rgba(0, 0, 0, 0.3),
    inset 0 -15px  15px rgba(0, 0, 0, 0.3);
}

.clock::before {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    z-index: 10000;
    border-radius: 50%;
}

.hour, .minute, .second {
    position: absolute;
}

.hour, .hr {
    width: 160px;
    height: 160px;
    
}

.minute, .min {
    width: 190px;
    height: 190px;

}

.second, .sec {
    width: 230px;
    height: 230px;

}

.hr, .min, .sec {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 80px;
    background: #ff105e;
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 90px;
    background: #fff;
    z-index: 11;
    border-radius: 6px 6px 0 0;
}

.sec:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 150px;
    background: #fff;
    z-index: 12;
    border-radius: 6px 6px 0 0;
}

.toggler {
    margin-top: 10vh;
}

button {
    padding: 0;
    font-size: 3em;
    background-color: transparent;
    border: 0;
}